::-webkit-scrollbar-track {
  -webkit-box-shadow: transparent !important;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.trends {
  color: #fff;
  background-color: #1d5d9b;
  position: fixed;
  position: fixed;
  width: 22em;
  height: 100%;
  padding: 0;
  right: 0;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}

.form-field input,
.form-field textarea,
.form-field select,
.form-field option {
  width: 700px;
  height: 44px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.form-field textarea {
  min-width: 700px;
  min-height: 100px;
  margin-top: 2em;
}

.btns-ia input {
  height: inherit;
  width: inherit;
}

.btns-ia label {
  padding: 10px;
}

.search {
  width: 200%;
  display: flex;
  flex-direction: column;
}

.card {
  background: var(--white-10, #fff);
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em;
  display: flex;
}

.tags{
  display: flex;
}
.tags span {
  border-radius: 50px;
  background: rgba(118, 120, 237, 0.9);
  color: #fff;
  font-size: 0.9em;
  padding: 5px;
  margin-right: 1vh;
}


.trend-section{
  overflow-y: scroll;
  max-height: 100vh;
}
.trend-section h3 {
  color: #F0F0F0
}


.search-icon{
  font-size: 2rem;
}
.search{
  width: 100%;
  border: none;
  border-radius: 2vh;
  padding: 2vh;
  -webkit-border-radius: 2vh;
  -moz-border-radius: 2vh;
  -ms-border-radius: 2vh;
  -o-border-radius: 2vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-left: 2vh;
  margin-bottom: 2vh;
}

.search:focus{
  box-shadow: 0 0 3px rgba(245, 230, 230, 0.5);
}

.search:focus::placeholder{
  color: transparent;
}


.header{
  width: 100%;
  display: flex;
  align-items: center;
}

h1{
  font-weight: 700 ;
}



