<div class style="width: 100%; height: 100%; display: flex">
  <div
    class
    style="
      margin-top: 7em;
      width: 100%;
      height: 100%;
      margin-right: 15em;
      margin-left: 5em;
    ">
    <h2>Crear Evento</h2>

    <form [formGroup]="eventForm" class="container">
      <div class="form-field">
        <label for="title">Titulo del evento</label>
        <input
          type="text"
          formControlName="title"
          id="title"
          placeholder="Ingrese un título" />
      </div>
      <div class="form-field">
        <label for="description">Descripción del evento</label>
        <input
          type="text"
          formControlName
          id="description"
          placeholder="Descripción de la temática del evento" />
      </div>

      <div class="form-field">
        <div
          class="btns-ia"
          style="display: flex; justify-content: space-between; width: 700px">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label
              class="btn btn-secondary p-2"
              [class.active]="!isChatGPT"
              (click)="toggleSwitch(false)"
              style="padding: 0">
              <input
                type="radio"
                name="options"
                id="option1"
                autocomplete="off"
                checked
                class="btn btn-secondary" />
              Chat GPT
            </label>
            <label
              class="btn btn-secondary p-2"
              [class.active]="isChatGPT"
              (click)="toggleSwitch(true)"
              style="padding: 0">
              <input
                type="radio"
                name="options"
                id="option2"
                autocomplete="off" />
              Copy.ai
            </label>
          </div>
          <button class="btn btn-primary space-right2">Generar</button>
        </div>
        <textarea
          formControlName="description"
          id
          cols="30"
          rows="10"
          placeholder="Esperando a generar una descripción con ia"></textarea>
      </div>

      <div class="form-field">
        <label for="event-type">Tipo de evento</label>
        <select formControlName="eventType" id="event-type">
          <option value disabled selected hidden>
            Seleccionar tipo de evento
          </option>
          <option value="bootcamp" selected>Bootcamp</option>
          <option value="webinar">Webinar</option>
        </select>
      </div>
      <div class="form-field">
        <label for="location">Ubicación</label>
        <input
          type="text"
          formControlName="location"
          id="location"
          placeholder="Ingrese la ubicación del evento" />
      </div>
      <div class="form-field">
        <label for="speaker">Buscar ponente</label>
        <!-- <input
          type="text"
          name="speaker"
          id="speaker"
          placeholder="Buscando perfiles en linkedin ..."
        /> -->
        <select formControlName="speaker" id="speaker">
          <option value disabled selected hidden>
            Perfiles filtrados de Linkedin
          </option>
          <option value="speaker1">Rosa Palacios1</option>
          <option value="speaker2">Denis Cuenca</option>
        </select>
      </div>

      <div class="form-field">
        <label for="date">Fecha</label>
        <input type="date" name="date" id="date" />
      </div>

      <div class="botones my-4">
        <button class="btn btn-primary m-2">Crear evento</button>
        <button class="btn btn-secondary m-2">Cancelar</button>
      </div>
    </form>
  </div>

  <div class="trends p-3 px-4">
    <h1>Tendencias</h1>
    <div class="trend-section">
      <div class="header">
        <mat-icon class="search-icon">search</mat-icon>
        <input class="search" type="text" name="buscar" id="buscar"
          placeholder="Buscar tendencias" (input)="onSearchChange($event)"/>
      </div>

      <div class="tarjets">
        <div class="card" *ngFor="let trend of trends">
          <p>{{trend.titulo}}</p>
          <div class="tags">
            <div *ngFor="let tag of trend.temasRelacionados.slice(0,2)">
              <span>{{tag}}</span>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class></div>
  </div>
