.container {
    margin-top: 7rem;
}

.text1{
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.text2{
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 2rem;
}

