<div class="container">
  <p class="text1">Ponentes</p>
  <div class="row mb-2">
    <div class="col">
      <div class="col crear">
        <!-- Botón para crear evento en la parte superior derecha -->
        <button
          class="btn btn-success float-end boton1"
          [routerLink]="['/crear-ponente']"
        >
          Crear ponente
        </button>
      </div>
      <!-- Filtro de búsqueda -->
      <div class="col">
        <!-- Filtro de búsqueda -->
        <div class="input-group icono filtrado">
          <span class="input-group-text lupa">
            <img src="../../assets/iconos/lupa.png" alt="Lupa" />
          </span>
          <input
            type="text"
            class="form-control"
            placeholder="Filtrar evento por nombre..."
            (keyup)="filtrarEventos($event)"
          />
          <button
            class="btn btn-secondary flt"
            (click)="filtrarEventos($event)"
          >
            <img src="../../assets/iconos/filtrar.png" alt="Filtrar" />
          </button>
        </div>
      </div>
    </div>

    <table class="table table-striped tabla">
      <thead class="tabla1">
        <tr>
          <th class="bg-color">Ponente</th>
          <th class="bg-color">Cédula</th>
          <th class="bg-color">Email</th>
          <th class="bg-color">Profesión</th>
          <th class="bg-color">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Aquí iterarás sobre los eventos de la página actual -->
        <tr
          *ngFor="let evento of obtenerEventosPaginaActual()"
          class="fila-transparente"
        >
          <td>{{ evento.nombre }}</td>
          <td>{{ evento.cedula }}</td>
          <td>{{ evento.email }}</td>
          <td>{{ evento.profesion }}</td>
          <td>
            <button
              class="btn btn-primary btn-sm icono btn1"
              (click)="editarEvento(evento)"
            >
              <img src="../../assets/iconos/lapiz.png" alt="Editar" />
              <!-- Icono personalizado de lápiz -->
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Paginador dentro de un cuadro -->
  <div class="container mt-2">
    <div class="row">
      <div class="col-4">
        <!-- Flecha y texto "Mostrando X" en el lado inferior izquierdo -->
        <div class="d-flex align-items-center">
          <button
            class="btn btn-link btn-sm"
            [disabled]="currentPage == 1"
            (click)="cambiarPagina(currentPage - 1)"
          >
            <i class="bi bi-arrow-left"></i>
          </button>
          Mostrando {{ obtenerEventosPaginaActual().length }} de
          {{ ponentes.length }} eventos
        </div>
      </div>

      <div class="col-4">
        <!-- Números de página en el centro -->
        <div class="d-flex justify-content-center">
          <nav *ngIf="ponentes.length > pageSize">
            <ul class="pagination">
              <li class="page-item" [class.disabled]="currentPage == 1">
                <button
                  class="page-link"
                  (click)="cambiarPagina(currentPage - 1)"
                >
                  <i class="bi bi-arrow-left"></i>
                </button>
              </li>
              <li
                class="page-item"
                *ngFor="let page of paginas"
                [class.active]="currentPage == page"
              >
                <button class="page-link" (click)="cambiarPagina(page)">
                  {{ page }}
                </button>
              </li>
              <li
                class="page-item"
                [class.disabled]="currentPage == paginas.length"
              >
                <button
                  class="page-link"
                  (click)="cambiarPagina(currentPage + 1)"
                >
                  <i class="bi bi-arrow-right"></i>
                </button>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="col-4">
        <!-- Botón ir al siguiente en el lado derecho -->
        <div class="d-flex justify-content-end">
          <button
            class="btn btn-link btn-sm"
            [disabled]="currentPage == paginas.length"
            (click)="cambiarPagina(currentPage + 1)"
          >
            Ir al siguiente <i class="bi bi-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
