<div class="container side-bar">
  <div class="user"><mat-icon class="ma-3">account_circle</mat-icon> Admin</div>
  <div>
    <ul>
      <!-- <li class="">
      <a routerLink="inicio" routerLinkActive="active">Dashboard</a>
    </li> -->
      <li class="">
        <a routerLink="tendencias" routerLinkActive="tendencias">Tendencias</a>
      </li>
      <!-- <li class="">
      <a routerLink="analiticas" routerLinkActive="active">Analíticas</a>
    </li> -->

      <li class="sub-title border-bottom">Eventos</li>

      <li class="">
        <a routerLink="eventos" routerLinkActive="active">Listar Eventos</a>
      </li>
      <li class="">
        <a routerLink="crear-evento" routerLinkActive="active"
          >Crear Nuevo Evento</a
        >
      </li>

      <!-- <li class="sub-title border-bottom">Ponentes</li>

    <li class="">
      <a routerLink="ponentes" routerLinkActive="active">Listar Ponentes</a>
    </li>
    <li class="">
      <a routerLink="crear-ponente" routerLinkActive="active"
        >Crear Nuevo Ponente</a
      >
    </li> -->

      <button class="close-button">
        <span
          class="d-flex"
          style="align-items: center; justify-content: center"
        >
          Salir
          <mat-icon routerLink="inicio">transit_enterexit</mat-icon>
        </span>
      </button>
    </ul>
  </div>
</div>
