<div class="container my-5 ml-2">
  <ul class="border-end" style="height: 90%">
 <!--   <li class="">
      <a routerLink="inicio" routerLinkActive="active">Dashboard</a>
    </li>
    <li class="">
      <a routerLink="tendencias" routerLinkActive="tendencias">Tendencias</a>
    </li> -->
    <li class="">
      <a routerLink="analiticas" routerLinkActive="active">Analíticas</a>
    </li>

    <li class="sub-title border-bottom">Eventos</li>

    <li class="">
      <a routerLink="eventos" routerLinkActive="active">Listar Eventos</a>
    </li>
    <li class="">
      <a routerLink="crear-evento" routerLinkActive="active"
        >Crear Nuevo Evento</a
      >
    </li>

    <li class="sub-title border-bottom">Ponentes</li>

    <li class="">
      <a routerLink="ponentes" routerLinkActive="active">Listar Ponentes</a>
    </li>
    <li class="">
      <a routerLink="crear-ponente" routerLinkActive="active"
        >Crear Nuevo Ponente</a
      >
    </li>
    <li class="">
      <a routerLink="inicio">Cerrar sesión</a>
    </li>
    <!-- <li class="">
      <a routerLink="login">Iniciar </a>
    </li> -->
  </ul>
</div>
