a {
  text-decoration: none;
  color: #000;
}

ul {
  color: rgba(0, 0, 0, 0.2);
}

ul li {
  margin-bottom: 1em;
  font-size: 1em;
}

.sub-title {
  list-style: none;
  margin-top: 3em;
  padding-left: 0;
}

.side-bar {
  gap: 2vh;
  flex-shrink: 0;
  background-color: #ffffff;
  height: auto;
  min-height: 100vh;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30vh;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  color: #1c1c1c;
}

.user {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1vh;
}

a {
  text-decoration: none;
  color: #1c1c1c;
}

ul {
  color: rgba(0, 0, 0, 0.2);
}

ul li {
  margin-bottom: 1em;
  font-size: 1em;
}

.sub-title {
  list-style: none;
  margin-top: 3em;
  padding-left: 0;
  color: #787878;
}

.close-button {
  left: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  align-self: center;
  position: absolute;
  bottom: 0;
  margin: 1vh;
  background-color: #F2BE22;
  color: #626161;
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  padding: 2vh;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  border-radius: 1vh;
  -webkit-border-radius: 1vh;
  -moz-border-radius: 1vh;
  -ms-border-radius: 1vh;
  -o-border-radius: 1vh;
}